header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}
body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}
.container-buy-button{
    background-color: darkgreen;
    display: inline-block;
    color: ghostwhite;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}
.buy-button{
    display: inline-block;
        background: #28a745;
        color: #fff;
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        animation: reverse;
}
    